@import url(/static/css/font-awesome.min.css);

body {
  margin-top: 70px;
  margin-bottom: 60px;
  background-color: #888;
}

.splash {
  margin-top: 0px; 
}
.splash .logo-container {
  padding: 20px 0px 40px 0px; 
}
.splash .logo-container img {
  width: 450px; 
}
.splash .wireload-link span {
  font-size: 16px; 
}
.splash .wireload-link a img {
  width: 150px; 
}

.spinner input {
  text-align: right;
}

#hours, #minutes, #seconds {
  width: 50px;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}


.schedule-row-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#timeline {
  width: 100%;
  height: 40px;
  background: #EEE;
  margin: 0;
  padding: 0;
  background: url(/static/img/timeline.png);
  background-size: 100% 100%;
}

#timeline-tooltip {
  position: relative;  
}

.timeline-intervall {
  position: relative;
  background-color: DodgerBlue;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  opacity: 0.7;
}

.timeline-intervall.active {
  background-color: DarkRed;
}

.timeline-intervall:hover {
  background-color: FireBrick;
}

.timeline-keyframe {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 2px;
  display: block;
  background-color: red;  
  cursor: ew-resize;
}

#directory {  
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid gray;
  display: block;
}

#directory-list {    
  height: 240px;
  width: 100%;
  overflow: scroll;
  list-style-type: none;  
  border: 1px solid #0678f9;  
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
}

#directory-list > li {  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;  
  border-bottom: 1px solid gray;   
}

#directory-list > li:hover {  
  background: #0678f9;
}

#directory-list > li.dir {
  cursor: pointer;
}

#directory-list > li > img.dir {  
  content:url(/static/img/dir.png);
  width: 20px;
  height: 20px;
  padding-right: 5px;

}

#directory-list > li > img.file {  
  content:url(/static/img/file.png);
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

#footer {
  height: 40px;
  background-color: #222;
  -webkit-box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 9px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px; 
  color: #ddd;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}